*{
    margin: 0;
    padding: 0;
}

.main{
    padding: 10px;
    background: #CAF0F8;
}

.navBar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    border: 1px solid #023E8A;
    padding: 0px 10px;
}

.leftNav a{
    text-decoration: none;
    color: black;
}

.rightNav{
    display: flex;
    gap: 10px;
}

.rightNav a{
    color: #023E8A;
    text-decoration: none;
    border: 1px solid #023E8A;
    border-radius: 33px;
    padding: 0px 10px;
}

.rightNav a:hover{
    background: black;
    color: greenyellow;
}

.openOrClose{
    display: none;
}

.sideMenu{
    display: none;
}

@media (width>500px){
    .sideMenu{
        display: none !important;
    }
}

@media (width<=500px) {
    .rightNav{
        display: none;
    }
    .openOrClose{
        display: flex;
    }
    .openOrClose .closeIcon{
        display: none;
    }
    .sideMenu{
        display: none;
        flex-direction: column;
        background-color: yellow;
        margin: 5px 0px;
        padding: 5px 8px;
        border: 1px solid #023E8A;
        border-radius: 9px;
        text-align: center;
    }
    .sideMenu a{
        text-decoration: none;
        color: black;
        margin: 2px 0px;
        padding: 5px;
        border: 1px solid #023E8A;
    }


}