*{
    margin: 0;
    padding: 0;
}

.main{
    padding: 0px 10px;
    background: #CAF0F8;
}

.navBar{
    display: flex;
    justify-content: space-between;
    height: 40px;
    align-items: center;
    border: 1px solid #023E8A;
    margin: 0px -10px;
    padding: 0px 9px;
}

.leftNav a{
    text-decoration: none;
    color: black;
}

.rightNav{
    display: flex;
    gap: 10px;
}

.rightNav a{
    color: #023E8A;
    text-decoration: none;
    border: 1px solid #023E8A;
    border-radius: 33px;
    padding: 0px 5px;
}

.rightNav a:hover{
    background: black;
    color: greenyellow;
}

.rightNavMob{
    display: none;
}

@media (width<500px) {
    .rightNav{
        display: none;
    }
    .rightNavMob{
        display: flex;
    }
    .showMenu{
        display: flex;
        align-items: center;
    }
    .closeMenu{
        display: flex;
        flex-direction: row-reverse;
        background-color: yellow;
    }
    .menu{
        display: flex;
        flex-direction: column;
        background-color: red;
    }


}